.env
.temp
.github
.vscode

apps/server/.temp
apps/server/diagrams
apps/server/vscode
apps/server/build
apps/server/playground
apss/server/rest
apps/server/scripts

apps/web/.env
apps/web/node_modules
apps/web/.wiremock