services:
  db:
    image: postgres
    container_name: exorcist-db
    environment:
      - POSTGRES_DB=${DATABASE_NAME}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_USER=${DATABASE_USER}
    ports:
      - ${DATABASE_PORT}:5432
    volumes:
      - ./temp/db:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
    ports:
      - ${PGADMIN_PORT}:80
    depends_on:
      - db

  exorcist:
    build:
      dockerfile: ./Dockerfile
    ports:
      - "${EXTERNAL_PORT}:${PORT}"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - /mnt/some-media:/media
